*{
  box-sizing: border-box;
      margin: 0;
    padding: 0;
}

body{
  background-color: rgb(254, 232, 226);
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    max-height: 100px;
    padding: 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bf0311;
    overflow: hidden;
}


    .logo {
    width: 70vw;
    
}

#header-img {
  box-sizing: border-box;
  overflow: hidden;
    max-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

nav {
    font-weight: 400;
}

nav > ul {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
    
}

a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    font-size: 1.2em;
}

#entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    margin-top: 80px;
    margin-bottom: -15px;
}

#entry h2 {
    padding-right: 40px;
}

#email {
    padding: 5px;
}

#submit {
    padding: 8px;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #bf0311;
    border-radius: 3px;
}

#submit:hover {
    padding: 10px;
    font-size:0.9em ;
}

#photos-top {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:100%;
}

#photos-top img {
width: 100%;
  max-width: 33.3%; 
}

#video-container h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 5em;
    text-align: center;
    color: #8f0311;
    padding: 75px 20px;
    
}

#video-container div {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#subtitle {
    margin: 50px;
    font-size: 2em;
    text-align: center;
}

.gallery {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.image-gallery {
    width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #8f0311;
}

.social-icons {
    margin-left: 39% ;
    margin-top: -30px;
    
    font-size: 1.2em;
    line-height: 2;
}

#redes {
    color: black;
}

#wsp {
    letter-spacing: 2;
}

footer {
    margin-bottom: 50px;
}

@media only screen and (max-width: 800px) {
    header {
        display: flex;
        flex-direction: column;
        max-height: 200px;
    }
    .logo {
        width: 100%;
        position: relative;
        top: -60px;
        left: 70%;
       
    }

    
    
    nav {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav > ul {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    
    #entry {
        margin-top: 200px;
        margin-bottom: 10px
    }

    #entry h2 {
        font-size: 16px
    }

    #email {
    padding: 2px;
    }

    #submit {
    padding: 2px;
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #bf0311;
    border-radius: 3px;
    }

    .image-gallery {
        width: 100%;
        min-width: 350px;
        height: 300px;
        object-fit: cover;
        
    }
}
